.transport{
	text-align: center;
}

.pie{
	display: table;
	table-layout: fixed;
}

.pie .box {
    vertical-align: middle;
    display: table-cell;

}

.box img {
	display: block;
    width: 100%;
}

.item {
	padding-left: 0px !important;
}