/* Slider - home-page */
.carousel-inner {
  background-image: url("../images/background-slider.png");
  background-position: center center;
  background-repeat: repeat;
  height:100%;
}
.carousel-caption{
  top:150px;
}

.titles {
	background-color: white;
}

.news_image {
  width: 100%;
}

.news_section {
  margin-bottom: 30px;
  margin-top: 30px;
}

.news {
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  text-align: justify;
}