/* Slider - home-page */
.carousel-inner {
  background-image: url("../images/background-slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  height:100%;
}
.carousel-caption{
  top:150px;
}

.titles {
	background-color: white;
}
