
#horarioTitulo{
	background-color:  #139871 ;
}

.horarioSeta{
	float: right;
	color: #139871;
}

.horarioCollapse{
	background-color: #CCF1FF;
}

.horarioCollapse:hover{
	background-color: #ABE7FF;
}

.nav-tabs>li>a {
	color: #139871;
	font-weight: bold;
	font-size: 15px;
}

.panel-title {
	font-weight: bold;
}

/*.day-pill {
	color: #139871 !important;
	background-color: #CCFF99 !important;
}*/


table, th, td {
	border: 5px solid white;
	border-collapse: collapse;
}

.centerTable { margin: 0px auto; }

th, td {
	padding: 15px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color: #c1e9e1;
}

.activityDescription {
	text-align: left;

}

.header {
	font-weight: bold;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.clickable-cell {
	background-color: #9abab4;
}

/*.clickable-cell:hover {
	background-color: #c1e9e1;
}*/

