
#horarioTitulo{
	background-color: #00B7FF;
}

.horarioSeta{
	float: right;
	color: #C3C3C3;
}

.horarioCollapse{
	background-color: #CCF1FF;
}

.horarioCollapse:hover{
	background-color: #ABE7FF;
}

/*.day-pill {
	color: #139871 !important;
	background-color: #CCFF99 !important;
}*/