.big {
    max-height: 250px;
    max-width: 250px;
}

.medium {
    max-height: 170px;
    max-width: 170px;
}

.small {
    max-height: 110px;
    max-width: 110px;
}

table {
    border: 1px solid black;
}

.sponsor-group {
    margin-top: 30px;
    margin-bottom: 30px;
}