.big {
    max-height: 300px;
    max-width: 300px;
}

.medium {
    max-height: 200px;
    max-width: 200px;
}

.small {
    max-height: 125px;
    max-width: 125px;
}

table {
    border: 1px solid black;
}