.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.container {
	padding: 15px;
}

.navbar {
  padding: 15px;
  font-size: 20px;
}

.navbar .navbar-collapse {
  text-align: center;
}

nav.navbar.shrink {
  padding: 10px;
  font-size: 20px;
}

.footer {
	background-color: #f8f8f8;
	padding: 10px;
	border-top: 1px solid #ddd;
}


.footer-partner {
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
}

.main-color, h1, h2, h3, h4{
  color: #139871 !important;
  -webkit-text-shadow: none;
    text-shadow: none;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "// ";
}

/*h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content: " //";
}*/

.secondary-color, h4, h5, h6{
  color: #000000 !important;
  -webkit-text-shadow: none;
    text-shadow: none;
}

