.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.navbar {
  padding: 15px;
  font-size: 20px;
}

.navbar .navbar-collapse {
  text-align: center;
}

nav.navbar.shrink {
  padding: 10px;
  font-size: 16px;
}

.footer {
	background-color: #f8f8f8;
	padding: 10px;
}

.transport{
	text-align: center;
}


.pie {
    display: table;
}
.pie a {
    vertical-align: middle;
    display: table-cell;
}
.pie img {
    display: block;
    height: auto;
    width: 100%;
}

/* Slider - home-page */
.carousel-inner {
  background-image: url("../images/background-slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  height:100%;
}
.carousel-caption{
  top:150px;
}

#titles {
  color: #139871;
  background-color: white;
  -webkit-text-shadow: none;
    text-shadow: none;
}

